.connectbgandpadding{
    padding: 8% 0%;
}
.connectdescription{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color:#C8C8C8;
    text-align: center;
}
.cnnectcheckemail{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color:#101323;
    text-align: center;
    background-color: #2A7741;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 20px;
}
.putbuttonincenter{
display: flex;
align-items: center;
justify-content: center;
}
.connectwithmetamsk, .connectwithmetamsk:hover{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color:#BDBDBD;
    text-align: center;
    background-color: transparent;
    border: 1px solid #4F4F4F;
    border-radius: 10px;
    padding: 12px 40px;
}
.margin-right-metamask{
    margin-right: 5px;
}
.connectwalletset{
    font-size: 23px;
    margin-right: 5px;
}
.makeconnectbuttoncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
